


.form_main {
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* #btn {
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
} */